In [14]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\user\appdata\roaming\python\python39\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\roaming\python\python39\site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\roaming\python\python39\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\user\appdata\roaming\python\python39\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (6.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.3->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns

### Importing the dataset.. Reading the .csv files

In [23]:
productData = pd.read_csv("dataset/product.csv",sep="\t")

In [5]:
userData = pd.read_csv("dataset/user.csv",sep="\t")

In [6]:
sessionData = pd.read_csv("dataset/session.csv",sep="\t")

In [15]:
productData.tail(10)

                 location    product_ean code      store_name
14965          Asia/Tokyo  7998806458534   JP        Minokamo
14966    America/New_York  6508748773735   US         Taunton
14967        Asia/Kolkata  6880481838958   IN    Robertsonpet
14968       Europe/Skopje  4916516663454   MK           Saraj
14969       Europe/Moscow  6841434935681   RU        Gudermes
14970       Europe/Berlin   149467746332   DE        Walsrode
14971  Asia/Yekaterinburg  3866945905056   RU          Lesnoy
14972        Asia/Kolkata  4012728908809   IN  Dalsingh Sarai
14973      Africa/Nairobi  5246696890388   KE          Lodwar
14974        Asia/Kolkata  7939158449856   IN       Osmanabad

In [ ]:
userData.head(10)

In [ ]:
sessionData.head(10)

In [10]:
productData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14975 entries, 0 to 14974
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     14975 non-null  object
 1   product_ean  14975 non-null  int64
 2   code         14960 non-null  object
 3   store_name   14975 non-null  object
dtypes: int64(1), object(3)
memory usage: 468.1+ KB

In [ ]:
productData[productData.isnull().any(axis=1)]

In [27]:
productData = productData.dropna()

In [32]:
productData = productData.reset_index().drop("index",axis=1)